.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__profile {
  position: relative;
}

.header__profileButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.header__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.header__username {
  margin-left: 8px;
  font-weight: bold;
  font-size: 15px;
}

.header__dropdownMenu {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  min-width: 160px;
  z-index: 999;
  transform: translateX(25%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__dropdownMenuItem {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
}

.header__dropdownMenuItem:hover {
  background: #f0f0f0;
}

.header__dropdownMenuItem:last-child {
  border-bottom: none;
  width: 100%;
}
