.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 768px;
  gap: 30px;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    button {
      width: 100%;
      height: 40px;
    }
    &:last-child {
      position: relative;
      top: -12px;
    }
  }
  &__links {
    display: flex;
    gap: 30px;
    color: $color-dark-gray;
    padding: 0 5px;
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    &__text {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      hr {
        width: 100%;
        height: 1px;
      }
      span {
        font-weight: bold;
        color: $color-dark-gray;
        width: 100%;
        text-align: center;
      }
    }

    &__icon {
      display: flex;

      gap: 80px;
      justify-content: center; // 가운데 정렬
      margin-top: 20px;
      div {
        cursor: pointer;
        transition: outline 0.2s ease;

        &:focus {
          outline: 2px dashed #333; // 점선 테두리
          outline-offset: 3px; // 테두리가 아이콘 바깥쪽으로 이동
        }
      }
    }
  }
}
