.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__button {
    margin-top: auto;
    height: 48px;
  }

  &__inputblock {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
  }
}
