$color-red: #f03e3e;
$color-blue: #3d91ff;
$color-solid-line: #ced4da;
$color-tag: #d2e3ff;
$color-main: #706efa;
$color-main-event: #d2e3ff;
$color-dark-gray: #868e96;
$color-light-gray: #dee2e6;
$color-black: #000000;
$color-white: #ffffff;
$color-table-row-hover: #eaeaea;
$color-table-row-gray: #f9f9f9;
