@use "./reset.scss" as *;
@use "./colors.scss" as *;
@use "./mixin.scss" as *;

body {
  min-height: 100vh;
  position: relative;
  font-family: "Pretendard", "Inter";
}
div {
  user-select: none;
}
table {
  user-select: none;
}

header {
  position: relative;
  //z-index: 100;
}
a {
  color: inherit;
}
input {
  z-index: 0;
}
textarea,
input {
  font-family: "Pretendard", "Inter";
}
