.main {
  &__post-item {
    border-bottom: 1px solid $color-solid-line;
    padding: 18px 16px;
    display: flex;
    gap: 12px;

    &:hover {
      background-color: #f8f9fa;
      cursor: pointer;
    }
  }

  &__post-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  &__post-status {
    background: $color-main;
    color: white;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    width: 56px;
    height: 24px;
  }

  &__post-content {
    flex-grow: 1;
  }

  &__post-title {
    font-size: 16px;
    color: #212529;
  }

  &__post-description {
    color: #495057;
    font-size: 14px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1050px;
    display: block;
  }

  &__post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 8px;
  }

  &__post-author {
    font-size: 12px;
    margin-right: 4px;
    color: #868e96;
  }

  &__post-dot {
    font-size: 12px;
    margin-right: 4px;
    color: #868e96;
  }

  &__post-date {
    font-size: 12px;
    color: #868e96;
  }

  &__post-stats {
    display: flex;
    gap: 12px;
    font-size: 12px;
    align-items: center;
  }

  &__post-stats-heart,
  &__post-stats-eye,
  &__post-stats-comment {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #868e96;
  }

  &__post-stats svg {
    color: #868e96;
  }
}
